{% extends 'menu_footer.html' %}

{% block content %}
<h2 id="loginfrmtext">Activation Link Sent</h2>

<section class="content">
              
    <div class="container">
    <!-- <small><h4 class="headline text-success" >Activation Link Sent Successfully!</h4></small> -->
    <div class="error-content">
      <h3><i class="fas fa-check-square text-success"></i> Kindly Confirm Your Email Address To Complete Your Registration</h3>
      
    </div>

     
    
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
<!-- /.content -->

{% endblock %}
