{% extends 'base.html' %}
    <title>{% block title %}
        NACOSS | Change Password
        {% endblock title %}</title>

<body class="layout-fixed sidebar-mini">
    <div class="hold-transition layout-top-nav">
        <div class="wrapper" id="page-container">
            {% block content %}
          
        
            <body class="hold-transition login-page">
                <div class="login-box" id="logincard">
                    <div class="login-logo">
                        <a id="logincardtitle"><b>Change</b> Password</a>
                    </div>
                    <!-- /.login-logo -->
                    <div class="card">
                        <div class="card-body login-card-body">
                            <p class="login-box-msg">Enter New Password Details</p>
                            <form method="post" class="needs-validation" novalidate>
                              {% csrf_token %}
                              <!-- {{ form }} -->                           
                              
                              {{ form.old_password.errors }}
                              <div class="input-group mb-3">
                                
                                <input type="password" name="old_password" autocomplete="current-password" 
                                class="textinput textInput form-control" autofocus required id="id_old_password" placeholder="Current Password">          
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        
                                        <span class="fas fa-lock" id="toggleCurrentPassword"></span>
                                    </div>
                                </div>
                            </div>
                              
                            
                              
                              {{ form.new_password1.errors }}
                              <div class="input-group mb-3">
                                   
                                <input type="password" name="new_password1" autocomplete="new-password" 
                                class="textinput textInput form-control" required id="id_new_password1" placeholder="New Password">          
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock" id="toggleNewPassword1"></span>
                                    </div>
                                </div>
                            </div>
                                                         
                             
                              {{ form.new_password2.errors }}
                              <div class="input-group mb-3">
                                   
                                <input type="password" name="new_password2" autocomplete="new-password" 
                                class="textinput textInput form-control" required id="id_new_password2" placeholder="Confirm New Password">          
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock" id="toggleNewPassword2"></span>
                                    </div>
                                </div>
                            </div>
                              
                            
                              <button type="submit" class="btn btn-block btn-primary">Submit</button>
                            </form>
                                        
                           
            
                            
                        </div>
                        <!-- /.login-card-body -->
                    </div>
                </div>
                <script>
                  (function () {
                      'use strict';
                      window.addEventListener('load', function () {
                          // Fetch all the forms we want to apply custom Bootstrap validation styles to
                          var forms = document.getElementsByClassName('needs-validation');
                          // Loop over them and prevent submission
                          var validation = Array.prototype.filter.call(forms, function (form) {
                              form.addEventListener('submit', function (event) {
                                  if (form.checkValidity() === false) {
                                      event.preventDefault();
                                      event.stopPropagation();
                                  }
                                  form.classList.add('was-validated');
                              }, false);
                          });
                      }, false);
                  })();
                </script>

<script>
    const toggleOldPassword = document.querySelector('#toggleCurrentPassword');
    const Oldpassword = document.querySelector('#id_old_password');
    toggleOldPassword.addEventListener('click', function (e) {
       
// toggle the type attribute
const type = Oldpassword.getAttribute('type') === 'password' ? 'text' : 'password';
Oldpassword.setAttribute('type', type);
// toggle the eye slash icon
this.classList.toggle('fa-lock-open');

});

</script>    


<script>
    const toggleNewPassword1 = document.querySelector('#toggleNewPassword1');
    const Newpassword1 = document.querySelector('#id_new_password1');
    toggleNewPassword1.addEventListener('click', function (e) {
// toggle the type attribute
const type = Newpassword1.getAttribute('type') === 'password' ? 'text' : 'password';
Newpassword1.setAttribute('type', type);
// toggle the eye slash icon
this.classList.toggle('fa-lock-open');
});
</script> 

<script>
    const toggleNewPassword2 = document.querySelector('#toggleNewPassword2');
    const Newpassword2 = document.querySelector('#id_new_password2');
    toggleNewPassword2.addEventListener('click', function (e) {
// toggle the type attribute
const type = Newpassword2.getAttribute('type') === 'password' ? 'text' : 'password';
Newpassword2.setAttribute('type', type);
// toggle the eye slash icon
this.classList.toggle('fa-lock-open');
});
</script> 


                {% endblock  %}