{% extends 'menu_footer.html' %}

{% block content %}
<h2 id="loginfrmtext">Password Reset</h2>

<section class="content">
              
    <div class="container">
    <small><h1 class="headline text-success" > Password Reset Was Successful!</h1></small>
    <div class="error-content">
      <h3><i class="fas fa-check-square text-success"></i> You May Now <a href="{% url 'login' %}">Login</a> again</h3>
      
    </div>

     
    
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
<!-- /.content -->

{% endblock %}
