{% extends 'menu_footer.html' %}

    <title>{% block title %}
        NSITF | Password Reset Email Sent
        {% endblock title %}</title>

       
<body class="layout-fixed sidebar-mini">
    
    <div class="hold-transition layout-top-nav">
        <div class="wrapper" id="page-container">
           

            {% block content %}  
            
            <section class="content">
              
                <div class="container">
                <small><h1 class="headline text-success" > Email Sent</h1></small>
                <div class="error-content">
                  <h3><i class="fas fa-check-square text-success"></i> We've emailed you instructions for re-setting your password,
                    if an account exists with the email you entered. You should receive them shortly.</h3>
                  
                    <p id="sentfromhead">If you don't receive an email, please make sure you've entered
                      the email address you registered with, and check your spam folder.
                     <a href="{% url 'login' %}">Click here to login</a>
                    </p>
                  </div>
        
                 
                
                <!-- /.error-content -->
              </div>
              <!-- /.error-page -->
            </section>
            <!-- /.content -->
            {% endblock %}       