{% extends 'menu_footer.html' %}

    <title>{% block title %}
        NSITF | Set New Password
        {% endblock title %}</title>

<body class="layout-fixed sidebar-mini">
    <div class="hold-transition layout-top-nav">
        <div class="wrapper" id="page-container">
            {% block content %}
          
        
            <body class="hold-transition login-page">
                <div class="login-box" id="logincard">
                    <div class="login-logo">
                        <a id="logincardtitle"><b>Set</b> New Password</a>
                    </div>
                    <!-- /.login-logo -->
                    <div class="card">
                        <div class="card-body login-card-body">
                            <p class="login-box-msg">Enter New Password Details</p>
                            <form method="post" class="needs-validation" novalidate>
                              {% csrf_token %}
                              
                            
                              
                              
                              {{ form.new_password1.errors }}
                              <div class="input-group mb-3">
                                   
                                <input type="password" name="new_password1" autocomplete="new-password" 
                                class="textinput textInput form-control" required id="id_new_password1" placeholder="New Password">          
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                                                         
                             
                              {{ form.new_password2.errors }}
                              <div class="input-group mb-3">
                                   
                                <input type="password" name="new_password2" autocomplete="new-password" 
                                class="textinput textInput form-control" required id="id_new_password2" placeholder="Confirm New Password">          
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                              
                            
                              <button type="submit" class="btn btn-block btn-primary">Submit</button>
                            </form>
                                        
                           
            
                            
                        </div>
                        <!-- /.login-card-body -->
                    </div>
                </div>
                <script>
                  (function () {
                      'use strict';
                      window.addEventListener('load', function () {
                          // Fetch all the forms we want to apply custom Bootstrap validation styles to
                          var forms = document.getElementsByClassName('needs-validation');
                          // Loop over them and prevent submission
                          var validation = Array.prototype.filter.call(forms, function (form) {
                              form.addEventListener('submit', function (event) {
                                  if (form.checkValidity() === false) {
                                      event.preventDefault();
                                      event.stopPropagation();
                                  }
                                  form.classList.add('was-validated');
                              }, false);
                          });
                      }, false);
                  })();
                </script>
                {% endblock  %}