{% extends 'base.html' %}
{% block content %}


<input type="text" id="id_questionid" value="{{ question.pk }}" hidden>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for answer in answers %}
                {{ answer.answer }}
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        
                        
                        <th>Date Created</th>
                        <th>Date Updated</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                
                <tr>
                    <td>{{ answer.created_on}}</td>
                    <td>{{ answer.updated_on}}</td>
                    <td>{{ answer.author}}</td>
                </tr>
                
                {% endfor %}
                </tbody>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#example1").DataTable
            ({

            });
    });
</script>
{% endblock %}