{% extends 'base.html' %}
{% block content %}
<br>
<div class="row g-3">
    <div class="col-sm-7">
        <input type="text" maxlength="80" id="id_searchbox" style="font-size: 18pt" class="form-control"
            placeholder="Search" aria-label="Search">
    </div>
    <div class="col-auto">
        <button type="button" id="id_searchclick" class="btn btn-info" onclick="buttonCode();" hidden>Submit</button>
    </div>
</div>
<br> 
<form method="post" id="answerform" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label }}
    {{form.title}}
    {{form.add_file}}


    <button type="submit" class="btn btn-info">
        Save
    </button>
</form>

{% endblock %}