.main-footer  {
     background-color:#1383a5;
     color:whitesmoke ;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1.5rem;    /* Footer height */
}
#loginfooter  {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  color: white;
  background-color:#1f7eaa;
}
#loginnav a{
  color: #50b4ee;
}
/* background-color: #2F3E48; Very Nice Color
background-color: #015F4F;
*/
#mainsidebar a{
  color:white;
 
  
}

#mainsidebar{
   background-color: rgb(70, 95, 110);
   
  
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #2F3E48;
   color:aquamarine;
   border-color:#50aab6;
}

#logincard {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        
}

#maninav a{
  color: #527596;
}

.btn-primary
{
  background-color: #018892;
  color:aliceblue;
  border-color:#159daf;
}



#logincardtitle,#card a,#card
{
  color:#5aa4b1;
  
}

 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {

   background-color: #2F3E48;
   color:aquamarine;
   border-color:#5aa4b1;
  }
  

  /* .fa-stack[data-count]:after{
    position:absolute;
    right:-15%;
    top:-10%;
    content: attr(data-count);
    font-size:55%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
  } */

  