{% extends 'base.html' %}
{% load humanize %}
<title>{% block title %}
    NACOSS | Home
    {% endblock title %}</title>
{% block content %}

<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark"> {{user.first_name|title}} {{user.last_name|title}}'s Dashboard</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{%url 'home' %}">Home</a></li>
            <!-- <li class="breadcrumb-item active">Dashboard v1</li> -->
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>  
  {% for detail in user.leave_set.all %}
  {% if detail.leavestatus_id > 5 and detail.leavestatus_id < 8 %}
<input type="text" class="form-control float-right" id="id_leavedate" name="id_leavedate" 
 hidden value="{{ detail.leavedate }}">

 <input type="text" class="form-control float-right" 
 hidden id="id_days" name="days" value="{{ detail.days }}">
 
 {% endif %}

 {% endfor %}
 
 
 
 
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info" style="height: 11em;">
            
                <div class="inner">
                  <h5>Previous Applications</h5> 
                  {% for thisuser in user.submitedby.all %}   
                  
                                    
                  
                  <h4>{{thisuser.previous_leave_count}} Application{{ thisuser.previous_leave_count|pluralize }}</h4>
                   
                                   

     
    {% endfor %} 
                 
               
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success" style="height: 11em;">
                <div class="inner">
                  <h5>Current Leave</h5>    
                  {% for detail in user.leave_set.all %}
                  {% if detail.leavestatus_id > 5 and detail.leavestatus_id < 8 %}
                                 
                  
                  <h4>{{ detail.days }} Day{{ detail.days|pluralize }}</h4>
                   
                    <h5>{{ detail.resume_date|timeuntil }} Remaining</h5> 
                  {% endif %}
                  {% endfor %}  
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a id="currentleavelink" href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning" style="height: 11em;">
                <div class="inner">
                  <h5>Profile</h5>
  
                  <h4>Last Login</h4>
                  <h5>{{user.my_last_login}}</h5>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger" style="height: 11em;">
                <div class="inner">
                                  
                  <h5>Pending Tasks</h5>
                  
  
                  <h4>{{ mytasks.Task_Count }} Task{{ mytasks.Task_Count|pluralize }}</h4>
                         
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a id="my_task_queues" href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
          <!-- Main row -->
         
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
       
             </section>
      <!-- /.content -->



{% endblock content %}


